# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# Build files
build/

# Temporary files
*.tmp
*.swp

# Node (if frontend later)
node_modules/